asgiref==3.8.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
crispy-bootstrap5==0.6
cryptography==45.0.4
Django==5.2.3
django-admin-sortable2==2.2.8
django-allauth==65.9.0
django-crispy-forms==1.14.0
django-extensions==4.1
django-utils==0.0.2
idna==3.10
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-decouple==3.8
requests==2.32.4
sqlparse==0.5.3
urllib3==2.4.0
