<!-- templates/home.html -->
{% extends "pages/base.html" %}
{% load static %}
{% block content %}
<div class="w3-center w3-padding-64">
  <img src="{% static 'images/FoxxeLabs.png' %}" alt="Foxxe Frey Labs" style="width:180px;max-width:40vw;" class="w3-image w3-margin-bottom w3-circle w3-card-4">
  <h1 class="w3-xxlarge w3-text-indigo w3-margin-top">Welcome to <span class="w3-text-deep-purple">Foxxe Labs</span></h1>
  <p class="w3-large w3-text-grey w3-opacity w3-margin-bottom">Innovating at the crossroads of fiction & code.</p>
  <div class="w3-panel w3-light-grey w3-round-large w3-padding-16 w3-margin-top w3-margin-bottom">
    <h4 class="w3-serif w3-large">Quote of the Day</h4>
    <blockquote>
      <span class="w3-xlarge">“{{ quote_text }}”</span>
      <br>
      <span class="w3-small w3-text-grey">— {{ quote_author }}</span>
    </blockquote>
  </div>
  <div class="w3-bar w3-margin-top w3-large w3-animate-opacity" style="justify-content: center; display: flex; gap: 2.5em;">
    <a href="{% url 'lander' %}" class="w3-button w3-indigo w3-hover-blue w3-round-xlarge w3-padding-large">Lunar Lander</a>
    <a href="{% url 'internet_quiz' %}" class="w3-button w3-indigo w3-hover-blue w3-round-xlarge w3-padding-large">Internet Quiz</a>
    <a href="{% url 'programmer_survey' %}" class="w3-button w3-indigo w3-hover-blue w3-round-xlarge w3-padding-large">Programmer Survey</a>
    <a href="{% url 'about' %}" class="w3-button w3-purple w3-hover-deep-purple w3-round-xlarge w3-padding-large">About</a>
  </div>
</div>

{% endblock content %}
